.threeGrid{
    display: grid;
    grid-template-columns: auto auto auto;

    
}

.twoGrid{
    display: grid;
    grid-template-columns: auto auto ;
    margin: 0 auto;
    text-align: center;
    
}


@media screen and (max-width:820px) {

    .threeGrid{
        display: block;
      
        
    }
    
      
}



@media screen and (max-width:650px) {
    
}



@media screen and (max-width:450px) {
    
}
