/* Typing Text */
#typing
{
    color: rgb(18, 69, 163);
    margin-top: 5%;
    font-size: 20px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 35px;
}



/* Offer Section in About Us */

.offersection{
display: grid;
grid-template-columns: auto auto;
margin-top: 10%;

}

.subtext{
    font-size: 23px;
    text-align: left;
    color:'#909090'
}

@media screen and (max-width:800px) {

    h2{
        font-size: 50px;
    }
      
    h3{
        font-size: 32px;
    }
    
}



@media screen and (max-width:600px) {
    #typing
{
    color: rgb(18, 69, 163);
    margin-top: 8%;
    font-size: 16px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}


}



@media screen and (max-width:430px) {

    #typing
{
    color: rgb(18, 69, 163);
    margin-top: 9%;
    font-size: 12px;
}

h2{
    font-size: 30px;
}
    
}
